<ul class="govuk-list govuk-list--bullet">
  <% links.each do |link| %>
    <li
      class="<%= "updated-content" if link[:updated] %> <%= "active" if link[:show_updates] %>"
      <%= "data-qa=updated-content#{ link[:show_updates] ? '__highlighted' : '' }" if link[:updated] %>
      <%= "data-updated" if link[:updated] %>
    >
      <a class="govuk-link" href="<%= link[:href] %>"><%= link[:title] %></a> - <%= link[:topics] %> <%= "topic".pluralize(link[:topics]) %>
    </li>
  <% end %>
</ul>
