<% if update_date >= @today - 2.weeks %>
  <div 
    class="update-summary" 
    data-qa="<%= "#{title}-update-summary" %>"
  >
    <span class="govuk-heading-s update-summary-meta">updated <%= update_date.strftime('%-d %B') %></span>
    <%= render partial: 'show_hide_updates', locals: { show_updates: show_updates, page: page } %>
    <div 
      id="update-summary-content" 
      class="update-summary-content 
      <%= 'hidden' unless show_updates %>"
      data-qa="<%= "update-summary__#{show_updates ? 'visible' : 'hidden'}" %>"
    >
      <%= yield %>
    </div>
  </div>
<% end %>