<% shifted_date = today - 2.weeks %>

<% if update_date >= shifted_date %>
  <div class="update-summary">
    <span class="govuk-heading-s update-summary-meta">updated <%= update_date.strftime('%-d %B') %></span>
    <% if show_updates == "true" %>
      <a href="?show_updates=false" class="govuk-link govuk-link--no-visited-state">
        <span>hide updates</span>
      </a>
      <div class="update-summary-content">
        <ul class="govuk-list govuk-list--bullet">  
          <% updated_sections.each do |section| %>
            <% if section[:action] == "add" %>
            <li>
              added new section, <a href="#<%= section[:id] %>" class="govuk-link" ><%= section[:description] %></a>
            </li>
            <% elsif section[:action] == "update" %>
            <li>
              updated section, <a href="#<%= section[:id] %>" class="govuk-link" ><%= section[:description] %></a>
            </li>
            <% elsif section[:action] == "remove" %>
            <li>
              removed section, <%= section[:description] %>
            </li>
            <% else %>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% else %>
      <a href="?show_updates=true" class="govuk-link govuk-link--no-visited-state">
        <span>show updates</span>
      </a>
    <% end %>
  </div>
<% end %>