<% page_title = "Good teaching practice and resources"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Good teaching practice and resources
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% update_date = t('good_teaching_practice.last_update_date').to_date %>
    <%= render layout: 'summary', locals: { update_date: update_date, show_updates: @show_updates, page: 'good-teaching-practice', has_content: true } do %>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          New case studies.
        </li>
      </ul>
    <% end %>
    <p class="govuk-body">
      Remote education resources, including lessons from Oak National Academy, as well as guidance, lesson plans and webinars on teaching remotely.
    </p>
    <h2 class="govuk-heading-l">Early years</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-ey">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-ey-heading-1">
              Support and resources
            </span>
          </h2>
        </div>
        <div id="accordion-ey-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-ey-heading-1">
          <p class="govuk-body">
            Resources from
            <%= govuk_link_to("Hungry Little Minds", "https://hungrylittleminds.campaign.gov.uk/") %>,
            including simple and fun activities for children (from newborn to age five) that can be shared with parents.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button updated-content  <%= 'active' if @show_updates %>"
              id="accordion-ey-heading-2"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
            >
              Case Studies
            </span>
          </h2>
        </div>
        <div id="accordion-ey-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-ey-heading-2">
          <p
            class="govuk-body"
          >
            Early years providers can access
            <%= link_to_govuk_content("case studies on delivering high-quality remote education", "https://gov.uk/government/publications/schools-blended-delivery-case-studies") %>.
          </p>
        </div>
      </div>
    </div>
    <h2 class="govuk-heading-l">Schools</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-schools">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-schools-heading-1">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-schools-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-schools-heading-1">
          <p class="govuk-body">
            A sector-led
            <%= link_to_govuk_content("remote education good practice guide", "https://www.gov.uk/government/publications/remote-education-good-practice") %>
            to support school leaders in developing remote education.
          </p>
          <p class="govuk-body">
            The
            <a class="govuk-link" href="https://educationendowmentfoundation.org.uk/guidance-for-teachers/covid-19-resources">
              Education Endowment Foundation Covid-19 support guide for schools
            </a>
            includes information on how to support effective remote education.
          </p>
        </div>
      </div>
      <div
        class="govuk-accordion__section"
      >
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-schools-heading-2" >
              Support and resources
            </span>
          </h2>
        </div>
        <div id="accordion-schools-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-schools-heading-2">
          <p class="govuk-body">
            <%= link_to_govuk_content("Example lesson plans", "https://www.gov.uk/government/publications/example-lessons-for-remote-teaching") %>
            shared by schools to help teachers adapt their classroom practice for remote education.
          </p>
          <h3 class="govuk-heading-m">All key stages</h3>
          <p class="govuk-body">
            Video and interactive lessons from <a href="https://www.thenational.academy/" class="govuk-link">Oak National Academy</a> for reception up to year 11 to support remote education.
          </p>
          <p class="govuk-body">
            Primary and secondary resources from <a href="https://www.bbc.co.uk/bitesize" class="govuk-link">BBC Bitesize</a> for teachers and pupils.
          </p>
          <%= render layout: 'details', locals: { title: 'Computing' } do %>
            <p class="govuk-body">
              <a href="https://teachcomputing.org/?gclid=CjwKCAjw1K75BRAEEiwAd41h1IZ2Rt-61VjxGJ0XDKnw1ft7lMNy5ZjCHYEfSCyJOEokALj28Fc09RoC8nAQAvD_BwE" class="govuk-link">Teach Computing</a>
              helps you discover training, resources and guidance to support you in teaching computing with confidence. Computing hubs offer local, tailored support to schools and colleges to
              improve the teaching of computing and increase participation in computer science.
            </p>
          <% end %>
          <%= render layout: 'details', locals: { title: 'Maths' } do %>
            <p class="govuk-body">
              <a href="https://amsp.org.uk/" class="govuk-link">Advanced Mathematics Support Programme</a> aims to increase participation and improve teaching in level 3 maths qualifications.
            </p>
            <p class="govuk-body">
              <a href="https://www.ncetm.org.uk/" class="govuk-link">The National Centre for Excellence in the Teaching of Mathematics</a> provides materials and guidance to help schools adapt
              maths teaching for pupils being educated both remotely and in the classroom.
            </p>
            <p class="govuk-body">
              <a href="https://www.ncetm.org.uk/maths-hubs" class="govuk-link">Maths Hubs</a> bring together maths professionals in a collaborative national network of 40 hubs, each led locally
              by an outstanding school or college, to develop excellent practice.
            </p>
          <% end %>
          <%= render layout: 'details', locals: { title: 'Music' } do %>
            <p class="govuk-body">
              <a href="https://www.artscouncil.org.uk/music-education/music-education-hubs" class="govuk-link">Music Education Hubs</a> bring together local authorities, schools and art, community
              or voluntary organisations to make sure all pupils have access to music education.
            </p>
          <% end %>
          <%= render layout: 'details', locals: { title: 'Relationships, sex, and health education' } do %>
            <p class="govuk-body">
              <%= link_to_govuk_content("Support and training materials", "https://www.gov.uk/guidance/teaching-about-relationships-sex-and-health") %> for schools to help train teachers on relationships,
              sex, and health education.
            </p>
          <% end %>
          <h3 class="govuk-heading-m">Primary Schools</h3>
          <%= render layout: 'details', locals: { title: 'English' } do %>
            <p class="govuk-body">
              <a href="http://www.englishhubs.org/" class="govuk-link">English Hubs</a> offer support (resources and training) to eligible, local schools, including local authority maintained
              schools, academies and free schools. This is to improve teaching of phonics, early language and reading in reception and year 1.
            </p>
          <% end %>
          <h3 class="govuk-heading-m">Secondary schools</h3>
          <%= render layout: 'details', locals: { title: 'Citizenship' } do %>
            <p class="govuk-body">
              <a href="https://educateagainsthate.com/resources/the-deliberative-classroom/" class="govuk-link">The Deliberative Classroom</a> is a project to support teachers to lead knowledge-based
              discussions and debates with students on topical issues relating to fundamental British values, citizenship and equality.
            </p>
          <% end %>
          <%= render layout: 'details', locals: { title: 'Modern foreign languages' } do %>
            <p class="govuk-body">
              The <a href="https://ncelp.org/resources/" class="govuk-link">National Centre for Excellence for Language Pedagogy</a> (NCELP) works in partnership with university researchers, teacher
              educators, expert practitioners, and 18 specialist teachers in 9 leading schools across the country. These form language hubs to improve language curriculum design and pedagogy. Support
              includes professional development tools, teaching resources and workshops.
            </p>
          <% end %>
          <%= render layout: 'details', locals: { title: 'Science' } do %>
            <p class="govuk-body">
              <a href="https://isaacphysics.org/" class="govuk-link">Isaac Physics</a> is an online platform that offers support and physics problem solving activities to students transitioning from
              GCSE to sixth-form college, and progressing to university. It also helps to reduce teacher workload.
            </p>
            <p class="govuk-body">
              <a href="https://www.iop.org/education" class="govuk-link">Institute of Physics</a> provides free, bespoke support for teachers of physics to increase the take-up of A level physics,
              particularly by girls.
            </p>
            <p class="govuk-body">
              <a href="https://www.stem.org.uk/science-learning-partnerships" class="govuk-link">Science Learning Partnerships</a> improve science teaching, including facilitating continuous professional
              development and providing support for schools to increase the take-up of GCSE triple science.
            </p>
          <% end %>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2
            class="govuk-accordion__section-heading"
          >
            <span
              class="govuk-accordion__section-button"
              id="accordion-schools-heading-3"
            >
              Videos, webinars and training
            </span>
          </h2>
        </div>
        <div id="accordion-schools-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-schools-heading-3">
          <h4 class="govuk-heading-s">DfE school-led webinars</h4>
          <p class="govuk-body">
            The DfE is offering several <%= link_to_govuk_content("school-led webinars", "https://www.gov.uk/guidance/remote-education-webinars") %> on remote education
            to help share good practice.
          </p>
          <h4 class="govuk-heading-s">EdTech Demonstrator programme</h4>
          <p class="govuk-body">The EdTech Demonstrator programme provides schools and colleges free peer-to-peer support on effective use of technology in education.</p>
          <p
            class="govuk-body"
          >
            Schools and colleges who want to access support can register their interest on the
            <%= govuk_link_to("EdTech demonstrator schools and colleges", "https://edtechdemo.ucst.uk/") %>
            website for more information.
          </p>
          <h4 class="govuk-heading-s">Get help with remote education and catch-up provision</h4>
          <p class="govuk-body">On Wednesday 27 January a sector-led online event took place which provided the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>examples of the best approaches to remote education</li>
            <li>advice on delivering the curriculum virtually, featuring Oak National Academy, the EdTech Demonstrator Network, Microsoft and Google</li>
            <li>top tips on maintaining wellbeing, motivation and keeping pupils safe whilst delivering remote education</li>
          </ul>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Read the full agenda
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The event was led by a selection of primary and secondary schools, including those who have accessed the DfE’s support package and Oak National Academy. Sessions included:</p>
              <h3 class="govuk-heading-s">Getting the basics right</h3>
              <p class="govuk-body">This session explored:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>recommendations to strengthen your remote education strategy</li>
                <li>long-term sustainable benefits of adopting the DfE's remote education offer</li>
                <li>use of digital platforms</li>
              </ul>
              <h3 class="govuk-heading-s">Delivering the curriculum virtually</h3>
              <p class="govuk-body">This session explored ways to maintain high-quality teaching remotely, including:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>managing the complexity of delivering lessons to pupils in and outside of the classroom simultaneously</li>
                <li>ensuring the curriculum is accessible to all pupils</li>
                <li>ways Oak National Academy can be used interactively</li>
                <li>maintaining high quality teaching in the remote environment</li>
                <li>using technology to support catch-up activities</li>
              </ul>
              <h3 class="govuk-heading-s">Maintaining wellbeing, motivation and keeping pupils safe</h3>
              <p class="govuk-body">This session explored:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>how to ensure pupils remain motivated and able to learn</li>
                <li>supporting school staff, including teacher workload</li>
                <li>securing e-safety</li>
              </ul>
            </div>
          </details>
          <p class="govuk-body">
            If you missed the event you can <%= govuk_link_to("access it on demand", "https://youtu.be/vFD3PJCxN1g", class: "govuk-link") %>.
          </p>
          <p class="govuk-body">
            A follow up event was held on 3 February 2021 where a panel responded to questions asked during (and after) the sector-led session on 27 January 2021.  You can <%= govuk_link_to("watch this event", "https://youtu.be/csIamuQkPR0", class: "govuk-link") %> if you missed it.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-schools-heading-4">
              Buying for remote education
            </span>
          </h2>
        </div>
        <div id="accordion-schools-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-schools-heading-4">
          <p class="govuk-body">
            <%= link_to_govuk_content("Help with accessing and buying resources for remote education", "https://www.gov.uk/guidance/help-with-accessing-and-buying-resources-for-remote-education") %>.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button updated-content  <%= 'active' if @show_updates %>"
              id="accordion-schools-heading-5"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
            >
              Case Studies
            </span>
          </h2>
        </div>
        <div id="accordion-schools-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-schools-heading-5">
          <p
            class="govuk-body"
          >
            Schools can access
            <%= link_to_govuk_content("case studies on delivering high-quality remote education", "https://gov.uk/government/publications/schools-blended-delivery-case-studies") %>.
          </p>
        </div>
      </div>
    </div>
    <h2 class="govuk-heading-l">Further education</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-fe">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-fe-heading-1">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-fe-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-fe-heading-1">
          <p class="govuk-body">
            Guidance on how FE colleges can use the <%= link_to_govuk_content("16 to 19 Bursary Fund", "https://www.gov.uk/1619-bursary-fund") %> and the
            <%= link_to_govuk_content("adult education budget", "https://www.gov.uk/guidance/adult-education-budget-aeb-funding-rules-2020-to-2021") %> to
            help students overcome financial barriers to participation in remote education.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button"
              id="accordion-fe-heading-2"
            >
              Support and resources
            </span>
          </h2>
        </div>
        <div id="accordion-fe-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-fe-heading-2">
          <p class="govuk-body">
            Support in using educational technology and developing online teaching skills from the <%= govuk_link_to("Education and Training Foundation", "https://enhance.etfoundation.co.uk/") %>.
          </p>
          <p class="govuk-body">
            Digital curriculum content and resources are available from organisations funded by DfE, including
            <%= govuk_link_to("Jisc", "https://www.jisc.ac.uk/learning-and-research-resources/") %>
            and
            <%= govuk_link_to("World Skills UK", "https://www.worldskillsuk.org/careers-advice/") %>
            .
          </p>
          <p
            class="govuk-body"
          >
            The
            <%= govuk_link_to("EdTech Demonstrator programme", "https://edtechdemo.ucst.uk/") %>
            provides 1:1 support and webinars on a range of ways to improve the quality of remote provision.
          </p>

          <p
            class="govuk-body"
          >
            The
            <%= link_to_govuk_content("College Collaboration Fund", "https://www.gov.uk/guidance/college-collaboration-fund-ccf", "#successful-applicants") %>
            has funded a range of digital
            <%= link_to_govuk_content("resources", "https://www.gov.uk/government/publications/college-collaboration-fund-ccf-projects/resources-college-collaboration-fund-ccf") %>
            to support sharing of good practice across FE colleges on a range of topics including staff development, mental health and wellbeing, safeguarding and student progression and transition support.
          </p>

          <h4
            class="govuk-heading-s"
          >
            FE digital curriculum resources
          </h4>
          <p
            class="govuk-body"
          >
            The
            <%= link_to_govuk_content("College Collaboration Fund", "https://www.gov.uk/guidance/college-collaboration-fund-ccf", "#successful-applicants") %>
            has also funded colleges to produce a range of digital content for the FE sector. The content consists of free, Sharable Content Object Reference Model (SCORM) compliant resources for use across the FE curriculum.
          </p>

          <%= render layout: 'details', locals: { title: 'Agriculture, horticulture, and animal care' } do %>
            <%= render partial: 'links_with_topics', locals: {
                title: 'All levels',
                links: [
                  {
                    title: 'Animal Care (videos)',
                    href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=17',
                    topics: 10
                  }
                ]}
              %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
                links: [
                    {
                      title: 'Agriculture (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=28',
                      topics: 3
                    },
                    {
                      title: 'Arboriculture (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=27',
                      topics: 3
                    },
                    {
                      title: 'Land and Wildlife (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=35',
                      topics: 1
                    }
                ]}
              %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
                links: [
                  {
                    title: 'Animal Care (Microsoft Sway)',
                    href: 'https://www.wiltshire.ac.uk/college-collaboration-fund',
                    topics: 1,
                  },
                ]}
              %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Arts, media and publishing' } do %>
            <%= render partial: 'links_with_topics', locals: {
            title: 'Level 2',
              links: [
                {
                  title: 'Photography and Media (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=26',
                  topics: 9
                },
                {
                  title: 'Art (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=29',
                  topics: 1
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Business, administration, finance and law'
          } do %>
            <%= render partial: 'links_with_topics', locals: {
                  title: 'All levels',
                  links: [
                    {
                      title: 'Business and entrepreneurship (SCORM)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=2',
                      topics: 22
                    }
                  ]
                }
            %>
            <%= render partial: 'links_with_topics', locals: {
                  title: 'Level 3',
                  links: [
                    {
                      title: 'Business (Recorded lesson)',
                      href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=business-a-level-and-level-3',
                      topics: 21
                    },
                    {
                      title: 'Law (Recorded lesson)',
                      href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=law-a-level-and-applied',
                      topics: 20
                    },
                  ]
                }
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Construction, Planning and the Built Environment'
           } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1 & 2',
              links: [
                {
                  title: 'Carpentry (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=19',
                  topics: 12
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1',
              links: [
                {
                  title: 'Painting and decorating (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=22',
                  topics: 5
                },
                {
                  title: 'Construction (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=32',
                  topics: 3
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Electrical (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=33',
                  topics: 3
                },
                {
                  title: 'Plumbing (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=39',
                  topics: 5
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Fabrication and Welding (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=43',
                  topics: 11
                },
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Engineering and Manufacturing Technologies'
          } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Automotive (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=30',
                  topics: 18
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Engineering (SCORM)',
                  href: 'https://www.fareham.ac.uk/ccf-engineering/',
                  topics: 10
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2 & 3',
              links: [
                {
                  title: 'Engineering (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=34',
                  topics: 22
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'English and ESOL'
          } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'English to speakers of other languages (ESOL) videos',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=20',
                  topics: 3
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'English (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=10',
                  topics: 30
                },
                {
                  title: 'Spelling, punctuation and grammar (SPAG), SCORM',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=15',
                  topics: 15
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Literacy entry (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=11',
                  topics: 30
                },
                {
                  title: 'English A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=english-a-level',
                  topics: 14
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Health, public and social care'
          } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Health and Social Care (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=3',
                  topics: 11
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Childcare (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=16',
                  topics: 10
                },
                {
                  title: 'Public Services (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=8',
                  topics: 30,
                },
                {
                  title: 'Health and Social Care (Microsoft OneNote)',
                  href: 'https://drive.google.com/drive/folders/17jauQzL_ysJhdfgqkhORXbOrUpKQB94h',
                  topics: 3
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Public Services (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=9',
                  topics: 30,
                },
                {
                  title: 'Clinical Skills (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=42',
                  topics: 10
                },
                {
                  title: 'Criminology A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=criminology-a-level',
                  topics: 20
                },
                {
                  title: 'Health and Social Care (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=health-and-social-care-level-3',
                  topics: 20
                },
                {
                  title: 'Health and Social Care (SCORM)',
                  href: 'https://www.fareham.ac.uk/ccf-hsc/',
                  topics: 10
                },
                {
                  title: 'Health and Social Care (Microsoft OneNote)',
                  href: 'https://drive.google.com/drive/folders/1-iHU4-uHPt5SNuR_5BqJiHbA756pEALX',
                  topics: 12
                },
                {
                  title: 'Childcare (SCORM)',
                  href: 'https://www.fareham.ac.uk/ccf-childcare/',
                  topics: 10
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Information and Communication Technology (ICT)'
           } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Computing (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=36',
                  topics: 10
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Leisure, Travel and Tourism',
          } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1',
              links: [
                {
                  title: 'Travel & Tourism (Microsoft OneNote)',
                  href: 'https://drive.google.com/drive/folders/1aReDS-nQUhgO0aLkAxLbejy0MEPFSUqH',
                  topics: 3
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2 & 3',
              links: [
                {
                  title: 'Catering (series)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=38',
                  topics: 12
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Sport (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=40',
                  topics: 16
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Physical Education A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=physical-education-a-level',
                  topics: 14
                },
                {
                  title: 'Sport (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=sport-level-3',
                  topics: 26
                },
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Retail and Commercial Enterprise' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2 & 3',
              links: [
                {
                  title: 'Barbering (Microsoft Sway)',
                  href: 'https://www.wiltshire.ac.uk/college-collaboration-fund',
                  topics: 5
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Mathematics'
          } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Entry Level 3',
              links: [
                {
                  title: 'Numeracy (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=13',
                  topics: 30
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1',
              links: [
                {
                  title: 'Numeracy (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=14',
                  topics: 30
                },
                {
                  title: 'Maths (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=12',
                  topics: 30
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'GCSE',
              links: [
                {
                  title: 'Maths GCSE (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=maths-gcse',
                  topics: 30
                },
                {
                  title: 'Maths Bridging (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=maths-bridging',
                  topics: 15
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Maths A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=maths-a-level',
                  topics: 10
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Science'
           } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Applied Science (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=37',
                  topics: 10
                },
                {
                  title: 'Biology A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=biology-a-level',
                  topics: 28
                },
                {
                  title: 'Chemistry A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=chemistry-a-level',
                  topics: 10
                },
                {
                  title: 'Psychology A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=psychology-a-level',
                  topics: 9
                },
                {
                  title: 'Physics A Level (Recorded lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=physics-a-level',
                  topics: 4
                },
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'PSHE and wellbeing' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Mental health (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=6',
                  topics: 13
                },
                {
                  title: 'SEN',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=21',
                  topics: 6
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: {
            title: 'Skills and employment'
           } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Employability (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=7',
                  topics: 5
                },
                {
                  title: 'Tutorial - Money Matters (Microsoft OneNote)',
                  href: 'https://drive.google.com/drive/folders/1lHihVkaQ2a5vJ2LsIBUo5NyNuBqi_hoD',
                  topics: 1
                },
                {
                  title: 'Work Experience Webinar Platform (Microsoft OneNote)',
                  href: 'https://drive.google.com/drive/folders/10g1pOKgPtwjORArL1j4i1avPR2XEv-6x',
                  topics: 1
                },
                {
                  title: 'Parent and Student Guides',
                  href: 'https://www.cirencester.ac.uk/ccf-resources/',
                  topics: 3
                },
                {
                  title: 'Transition To College',
                  href: 'https://www.cirencester.ac.uk/ccf-resources/',
                  topics: 5
                },
                {
                  title: 'Online Learning Guidance',
                  href: 'https://www.cirencester.ac.uk/ccf-resources/',
                  topics: 1
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Metacognition (Recorded Lesson)',
                  href: 'https://www.venncolleges.ac.uk/resource-hubs/resources-hub/?subject=metacognition',
                  topics: 5
                }
              ]}
            %>
          <% end %>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button updated-content  <%= 'active' if @show_updates %>"
              id="accordion-fe-heading-3"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
            >
              Case Studies
            </span>
          </h2>
        </div>
        <div id="accordion-fe-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-fe-heading-3">
          <p
            class="govuk-body"
          >
            Colleges and FE providers can access
            <%= link_to_govuk_content("case studies on delivering high-quality remote education", "https://gov.uk/government/publications/schools-blended-delivery-case-studies") %>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
