<% page_title = "Good teaching practice and resources"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Good teaching practice and resources
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Remote education resources, including lessons from Oak National Academy, as well as guidance, lesson plans and webinars on teaching remotely.
    </p>
    <div class="event-panel">
      <h2 class="govuk-heading-m">Online event<br>
        <br>
        Get help with remote education and catch-up provision</h2>
      <p class="govuk-body">On Wednesday 27 January a sector-led online event took place which provided the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>examples of the best approaches to remote education</li>
        <li>advice on delivering the curriculum virtually, featuring Oak National Academy, the EdTech Demonstrator Network, Microsoft and Google</li>
        <li>top tips on maintaining wellbeing, motivation and keeping pupils safe whilst delivering remote education</li>
      </ul>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Read the full agenda
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">The event will be led by a selection of primary and secondary schools, including those who have accessed the DfE’s support package and Oak National Academy. Sessions include:</p>
          <h3 class="govuk-heading-m">Getting the basics right</h3>
          <p class="govuk-body">This session will explore:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>recommendations to strengthen your remote education strategy</li>
            <li>long-term sustainable benefits of adopting the DfE's remote education offer</li>
            <li>use of digital platforms</li>
          </ul>
          <h3 class="govuk-heading-m">Delivering the curriculum virtually</h3>
          <p class="govuk-body">This session will explore ways to maintain high-quality teaching remotely, including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>managing the complexity of delivering lessons to pupils in and outside of the classroom simultaneously</li>
            <li>ensuring the curriculum is accessible to all pupils</li>
            <li>ways Oak National Academy can be used interactively</li>
            <li>maintaining high quality teaching in the remote environment</li>
            <li>using technology to support catch-up activities</li>
          </ul>
          <h3 class="govuk-heading-m">Maintaining wellbeing, motivation and keeping pupils safe</h3>
          <p class="govuk-body">This session will explore:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>how to ensure pupils remain motivated and able to learn</li>
            <li>supporting school staff, including teacher workload</li>
            <li>securing e-safety</li>
          </ul>
        </div>
      </details>
      <p class="govuk-body">
        If you missed the event you can <%= link_to("access it on demand", "https://www.giggabox.co.uk/department-for-education/", class: "govuk-link") %>.
      </p>
      <p class="govuk-body">
        A follow up event was held on 3 February 2021 where a panel responded to questions asked during (and after) the sector-led session on 27 January 2021.  You can <%= link_to("watch this event", "https://www.giggabox.co.uk/department-for-education/", class: "govuk-link") %> if you missed it.
      </p>
    </div>
    <h2 class="govuk-heading-l">Schools</h2>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            A sector-led
            <%= link_to_govuk_content("remote education good practice guide", "https://www.gov.uk/government/publications/remote-education-good-practice") %>
            to support school leaders in developing remote education.
          </p>
          <p class="govuk-body">
            The
            <a class="govuk-link" href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">
              Education Endowment Foundation Covid-19 support guide for schools
            </a>
            includes information on how to support effective remote education.
          </p>
        </div>
      </div>
      <div 
        class="govuk-accordion__section"
      >
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2" >
              Resources and curriculum support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            <%= link_to_govuk_content("Example lesson plans", "https://www.gov.uk/government/publications/example-lessons-for-remote-teaching") %>
            shared by schools to help teachers adapt their classroom practice for remote education.
          </p>
          <h3 class="govuk-heading-m">All key stages</h3>
          <p class="govuk-body">
            Video and interactive lessons from <a href="https://www.thenational.academy/" class="govuk-link">Oak National Academy</a> for reception up to year 11 to support remote education.
          </p>
          <p class="govuk-body">
            Primary and secondary resources from <a href="https://www.bbc.co.uk/bitesize" class="govuk-link">BBC Bitesize</a> for teachers and pupils.
          </p>
          <h4 class="govuk-heading-s">Computing</h4>
          <p class="govuk-body">
            <a href="https://teachcomputing.org/?gclid=CjwKCAjw1K75BRAEEiwAd41h1IZ2Rt-61VjxGJ0XDKnw1ft7lMNy5ZjCHYEfSCyJOEokALj28Fc09RoC8nAQAvD_BwE" class="govuk-link">Teach Computing</a>
            helps you discover training, resources and guidance to support you in teaching computing with confidence. Computing hubs offer local, tailored support to schools and colleges to
            improve the teaching of computing and increase participation in computer science. 
          </p>
          <h4 class="govuk-heading-s">Maths</h4>
          <p class="govuk-body">
            <a href="https://amsp.org.uk/" class="govuk-link">Advanced Mathematics Support Programme</a> aims to increase participation and improve teaching in level 3 maths qualifications.
          </p>
          <p class="govuk-body">
            <a href="https://www.ncetm.org.uk/" class="govuk-link">The National Centre for Excellence in the Teaching of Mathematics</a> provides materials and guidance to help schools adapt
            maths teaching for pupils being educated both remotely and in the classroom.
          </p>
          <p class="govuk-body">
            <a href="https://www.ncetm.org.uk/maths-hubs" class="govuk-link">Maths Hubs</a> bring together maths professionals in a collaborative national network of 40 hubs, each led locally
            by an outstanding school or college, to develop excellent practice.
          </p>
          <h4 class="govuk-heading-s">Music</h4>
          <p class="govuk-body">
            <a href="https://www.artscouncil.org.uk/music-education/music-education-hubs" class="govuk-link">Music Education Hubs</a> bring together local authorities, schools and art, community
            or voluntary organisations to make sure all pupils have access to music education.
          </p>
          <h4 class="govuk-heading-s">Relationships, sex, and health education</h4>
          <p class="govuk-body">
            <%= link_to_govuk_content("Support and training materials", "https://www.gov.uk/guidance/teaching-about-relationships-sex-and-health") %> for schools to help train teachers on relationships,
            sex, and health education.
          </p>
          <h3 class="govuk-heading-m">Early Years</h3>
          <p class="govuk-body">
            Resources from <a href="https://hungrylittleminds.campaign.gov.uk/" class="govuk-link">Hungry Little Minds</a>, including simple and fun activities for children (from newborn to age five)
            that can be shared with parents.
          </p>
          <h3 class="govuk-heading-m">Primary Schools</h3>
          <h4 class="govuk-heading-s">English</h4>
          <p class="govuk-body">
            <a href="http://www.englishhubs.org/" class="govuk-link">English Hubs</a> offer support (resources and training) to eligible, local schools, including local authority maintained
            schools, academies and free schools. This is to improve teaching of phonics, early language and reading in reception and year 1.
          </p>
          <h3 class="govuk-heading-m">Secondary schools</h3>
          <h4 class="govuk-heading-s">Citizenship</h4>
          <p class="govuk-body">
            <a href="https://educateagainsthate.com/resources/the-deliberative-classroom/" class="govuk-link">The Deliberative Classroom</a> is a project to support teachers to lead knowledge-based
            discussions and debates with students on topical issues relating to fundamental British values, citizenship and equality.
          </p>
          <h4 class="govuk-heading-s">Modern foreign languages</h4>
          <p class="govuk-body">
            The <a href="https://ncelp.org/resources/" class="govuk-link">National Centre for Excellence for Language Pedagogy</a> (NCELP) works in partnership with university researchers, teacher
            educators, expert practitioners, and 18 specialist teachers in 9 leading schools across the country. These form language hubs to improve language curriculum design and pedagogy. Support
            includes professional development tools, teaching resources and workshops.
          </p>
          <h4 class="govuk-heading-s">Science</h4>
          <p class="govuk-body">
            <a href="https://isaacphysics.org/" class="govuk-link">Isaac Physics</a> is an online platform that offers support and physics problem solving activities to students transitioning from
            GCSE to sixth-form college, and progressing to university. It also helps to reduce teacher workload.
          </p>
          <p class="govuk-body">
            <a href="https://www.iop.org/education" class="govuk-link">Institute of Physics</a> provides free, bespoke support for teachers of physics to increase the take-up of A level physics,
            particularly by girls.
          </p>
          <p class="govuk-body">
            <a href="https://www.stem.org.uk/science-learning-partnerships" class="govuk-link">Science Learning Partnerships</a> improve science teaching, including facilitating continuous professional
            development and providing support for schools to increase the take-up of GCSE triple science.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
            Accessing and buying resources for remote education
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
        <p class="govuk-body">
          <%= link_to_govuk_content("Help with accessing and buying resources for remote education", "https://www.gov.uk/guidance/help-with-accessing-and-buying-resources-for-remote-education") %>.
        </p>
      </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button updated-content <%= 'active' if @show_updates %>"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
              id="accordion-default-heading-3"
            >
              Videos, webinars and online events
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <h4 class="govuk-heading-s">DfE school-led webinars</h4>
          <p class="govuk-body">
            The DfE is offering several <%= link_to_govuk_content("school-led webinars", "https://www.gov.uk/guidance/remote-education-webinars") %> on remote education
            to help share good practice.
          </p>
          <h4
            class="govuk-heading-s"
          >EdTech Demonstrator webinars</h4>
          <p
            class="govuk-body updated-content <%= 'active' if @show_updates %>"
            data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
            data-updated
          >
            <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/home">The EdTech Demonstrator programme</a> helps schools and colleges with support for remote
            education. Their webinars can help improve the quality of remote provision in line with the expectations set out in the 
            <%= link_to_govuk_content("Schools coronavirus (COVID-19) operational guidance", "https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak") %>.
          </p>
          <p class="govuk-body">
            Webinars include:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/contingency">contingency planning guidance</a></li>
            <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/getting-started">setting up a virtual classroom</a></li>
            <li>
              <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance">
                using platforms such as Google Workspace (formerly G Suite) or Microsoft Office 365
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/strategy">
                embedding technology across your organisation and introducing a digital strategy
              </a>
            </li>
          </ul>
          <p class="govuk-body">
            See all of EdTech's
            <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/support-and-resources/upcoming-events">upcoming events</a>
            on their website
          </p>
        </div>
      </div>
    </div>
    <h2 class="govuk-heading-l">Further education</h2>
    <% fe_update_date = t('good_teaching_practice.fe.last_update').to_date %>
    <%= render layout: 'summary', locals: { update_date: fe_update_date, show_updates: @show_updates, page: 'good-teaching-practice', has_content: false } do; end %>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Guidance on how FE colleges can use the <%= link_to_govuk_content("16 to 19 Bursary Fund", "https://www.gov.uk/1619-bursary-fund") %> and the
            <%= link_to_govuk_content("adult education budget", "https://www.gov.uk/guidance/adult-education-budget-aeb-funding-rules-2020-to-2021") %> to
            help students overcome financial barriers to participation in remote education.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              Support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Support in using educational technology and developing online teaching skills from the <a class="govuk-link" href="https://enhance.etfoundation.co.uk/">Education and Training Foundation</a>
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span 
              class="govuk-accordion__section-button updated-content  <%= 'active' if @show_updates %>"
              id="accordion-default-heading-8"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
            >
              Resources
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Digital content and resources are available from organisations funded by DfE, including
            <a class="govuk-link" href="https://www.jisc.ac.uk/learning-and-research-resources">Jisc</a> and
            <a class="govuk-link" href="https://www.worldskillsuk.org/directions/careers-advice-resources">World Skills UK</a>.
          </p>
          <p class="govuk-body">
            DfE has also funded colleges to produce a range of content for the FE sector. The content consists of free, Sharable Content
            Object Reference Model (SCORM) compliant resources for use across the FE curriculum.
          </p>

          <h4
            class="govuk-heading-s updated-content  <%= 'active' if @show_updates %>"
            data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
            data-updated
          >
            EdTech Demonstrator webinars
          </h4>
          <p
            class="govuk-body updated-content  <%= 'active' if @show_updates %>"
            data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
            data-updated
          >
            <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/home">The EdTech Demonstrator programme</a> helps schools and colleges with support for remote
            education. Their webinars can help improve the quality of remote provision in line with the expectations set out in the 
            <%= link_to_govuk_content("Further education coronavirus (COVID-19) operational guidance", "https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision") %>.
          </p>

          <%= render layout: 'details', locals: { title: 'Agriculture, horticulture, and animal care' } do %>
            <%= render partial: 'links_with_topics', locals: {
                title: 'All levels',
                links: [
                  {
                    title: 'Animal Care (videos)',
                    href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=17',
                    topics: 10
                  }
                ]}
              %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
                links: [
                    {
                      title: 'Agriculture (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=28',
                      topics: 3
                    },
                    {
                      title: 'Arboriculture (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=27',
                      topics: 3
                    },
                    {
                      title: 'Land and Wildlife (videos)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=35',
                      topics: 1
                    }
                ]}
              %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
                links: [
                  {
                    title: 'Animal Care (Microsoft Sway)',
                    href: 'https://www.wiltshire.ac.uk/college-collaboration-fund',
                    topics: 1,
                  },
                ]}
              %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Arts, media and publishing' } do %>
            <%= render partial: 'links_with_topics', locals: {
            title: 'Level 2',
              links: [
                {
                  title: 'Photography and Media (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=26',
                  topics: 9
                },
                {
                  title: 'Art (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=29',
                  topics: 1
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Business, administration, finance and law' } do %>
            <%= render partial: 'links_with_topics', locals: {
                  links: [
                    {
                      title: 'Business and entrepreneurship (SCORM)',
                      href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=2',
                      topics: 22
                    }
                  ]
                }
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Construction, Planning and the Built Environment' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1 & 2',
              links: [
                {
                  title: 'Carpentry (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=19',
                  topics: 10
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1',
              links: [
                {
                  title: 'Painting and decorating (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=22',
                  topics: 5
                },
                {
                  title: 'Construction (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=32',
                  topics: 3
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Electrical (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=33',
                  topics: 3
                },
                {
                  title: 'Plumbing (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=39',
                  topics: 5
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Engineering and Manufacturing Technologies' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Automotive (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=30',
                  topics: 10,
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2 & 3',
              links: [
                {
                  title: 'Engineering (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=34',
                  topics: 18
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'English and ESOL' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'English to speakers of other langauges (ESOL) videos',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=20',
                  topics: 3
                }
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'English (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=10',
                  topics: 30
                },
                {
                  title: 'Spelling, punctuation and grammar (SPAG), SCORM',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=15',
                  topics: 15
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Literacy entry (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=11',
                  topics: 30
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Health, public and social care' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Health and Social Care (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=3',
                  topics: 11
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Childcare (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=16',
                  topics: 10
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Retail and Commercial Enterprise' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2 & 3',
              links: [
                {
                  title: 'Barbering (Microsoft Sway)',
                  href: 'https://www.wiltshire.ac.uk/college-collaboration-fund',
                  topics: 5,
                  updated: true,
                  show_updates: @show_updates
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Public services' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Public services (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=8',
                  topics: 30
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Public services (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=9',
                  topics: 30
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Leisure, Travel and Tourism' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 2',
              links: [
                {
                  title: 'Catering (series)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=38',
                  topics: 10
                },
                {
                  title: 'Sport (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=40',
                  topics: 10,
                  updated: true,
                  show_updates: @show_updates
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Science and mathematics' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 1',
              links: [
                {
                  title: 'Numeracy (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=14',
                  topics: 30
                },
                {
                  title: 'Maths (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=12',
                  topics: 30
                },
              ]}
            %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'Level 3',
              links: [
                {
                  title: 'Numeracy entry (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=13',
                  topics: 30
                },
                {
                  title: 'Applied Science (videos)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=37',
                  topics: 4
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'PSHE and wellbeing' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Mental health (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=6',
                  topics: 13
                },
                {
                  title: 'SEN',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=21',
                  topics: 6
                }
              ]}
            %>
          <% end %>

          <%= render layout: 'details', locals: { title: 'Skills and employment' } do %>
            <%= render partial: 'links_with_topics', locals: {
              title: 'All levels',
              links: [
                {
                  title: 'Employability (SCORM)',
                  href: 'https://ccf-project.howcollege.ac.uk/course/view.php?id=7',
                  topics: 5
                }
              ]}
            %>
          <% end %>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span
              class="govuk-accordion__section-button updated-content <%= 'active' if @show_updates %>"
              id="accordion-default-heading-10"
              data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
              data-updated
            >
              Case Studies
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p
            class="govuk-body updated-content <%= 'active' if @show_updates %>" 
            data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
            data-updated
          >
            Colleges and FE providers can access
            <a class="govuk-link" href="https://www.gov.uk/government/publications/remote-and-blended-learning-good-practice-fe-colleges">case studies on delivering high-quality remote education</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
