<div class="blue-panel">
  <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-grid-row_no-margin">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Get help with remote education
        </h1>
        <p class="govuk-body">Information, guidance and support for teachers and leaders on educating pupils and students who are remote learning during coronavirus (COVID-19). </p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row govuk-grid-row_no-margin">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m"><a href="https://www.digitallyempowered.co.uk" class="govuk-link">Training course - Sustaining Digital and Remote Education: A Toolkit for School Leaders</a></h2>
    <p class="govuk-body">Designed by Sandringham School, the course will help participants develop an understanding of research informed remote education practices, and reflect upon Sandringham School’s particular experiences in delivering digital and remote education.</p>
  </div>
</div>
<hr>
<br>
<div class="govuk-card-row">
  <div class="govuk-card">
    <h2 class="govuk-heading-s">
      <%= govuk_link_to("Review your remote education provision", "review-your-remote-education-provision", class: "govuk-link") %>
    <h2>
  </div>
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="videos-webinars" class="govuk-link">Videos, webinars and training</a></h2>
      <%= render 'date_badge', update_date: t('videos_webinars.last_update_date').to_date, today: @today %>
  </div>
</div>
<div class="govuk-card-row">
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="statutory-obligations" class="govuk-link">Statutory obligations and expectations</a></h2>
      <%= render 'date_badge', update_date: t('statutory_obligations.last_update_date').to_date, today: @today %>
  </div>
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="safeguarding" class="govuk-link">Safeguarding</a></h2>
      <%= render 'date_badge', update_date: t('safeguarding.last_update_date').to_date, today: @today %>
  </div>
</div>
<div class="govuk-card-row">
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="good-teaching-practice" class="govuk-link">Good teaching practice and resources</a></h2>
      <%= render 'date_badge', update_date: t('good_teaching_practice.last_update_date').to_date, today: @today %>
  </div>
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><%= govuk_link_to("Get help with technology", "get-help-with-technology", class: "govuk-link") %></h2>
  </div>
</div>
<div class="govuk-card-row">
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="send" class="govuk-link">Vulnerable pupils and students and those with special educational needs and disabilities (SEND)</a></h2>
      <%= render 'date_badge', update_date: t('send.last_update_date').to_date, today: @today %>
  </div>
  <div class="govuk-card">
      <h2 class="govuk-heading-s"><a href="support-for-recovery" class="govuk-link">Support for recovery and catch-up</a></h2>
      <%= render 'date_badge', update_date: t('support_recovery.last_update_date').to_date, today: @today %>
  </div>
</div>