<% page_title = "Safeguarding"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Safeguarding
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Keeping children safe online is essential. The statutory guidance
      <%= link_to_govuk_content("Keeping children safe in education", "https://www.gov.uk/government/publications/keeping-children-safe-in-education--2") %>
      provides information on what you should be doing to protect your pupils online.
    </p>
    <p class="govuk-body">
      The guidance includes a collection of resources (at Annex C) which includes support for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>safe remote education</li>
      <li>virtual lessons</li>
      <li>live streaming</li>
      <li>parents and carers to keep children safe online</li>
    </ul>
    <p class="govuk-body">
      <%= link_to_govuk_content("Safeguarding and remote education during coronavirus (COVID-19)", "https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19") %> provides guidance
      to help schools, colleges and teachers support pupils' and students' remote education during coronavirus (COVID-19).
    </p>
    <p class="govuk-body">
      <%= link_to_govuk_content("Further Education guidance for operation during the national lockdown", "https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak") %>
      provides specific guidance for safeguarding in further education (p43).
    </p>
    <p class="govuk-body">
      For schools and colleges developing their remote education through live and recorded lessons, the following support is available from third-party resources:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Information to help schools, parents and staff deliver safe remote learning:
        <ul class="govuk-list sublist--circle">
          <li>
            <%= govuk_link_to("Safe Remote Learning knowledge base", "https://swgfl.org.uk/resources/safe-remote-learning/") %> by SWGfL
          </li>
          <li>
            <%= govuk_link_to("Safeguarding during Remote Learning and Lockdowns", "https://coronavirus.lgfl.net/safeguarding") %> by LGfL
          </li>
        </ul>
      </li>
      <li>
        <%= govuk_link_to("Live remote lessons", "https://swgfl.org.uk/magazine/camera-s-on-or-off-and-other-important-questions-answered-by-the-posh-helpline/") %> - SWGfL article answering questions asked of the Professional Online Safety helpline
        addressing key concerns from teachers
      </li>
      <li>
        The National Cyber Security Centre, which includes which <%= govuk_link_to("video conference servivce", "https://www.ncsc.gov.uk/guidance/video-conferencing-services-security-guidance-organisations") %> is right for you and how to use video
        conferencing services securely
      </li>
    </ul>
    <h3 class="govuk-heading-m">Wellbeing</h3>
    <p class="govuk-body">
      Read the guidance and support on mental health and wellbeing for:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= link_to_govuk_content("schools", "https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak") %> (p58)
      </li>
      <li>
        <%= link_to_govuk_content("further education", "https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision") %> (p44)
      </li>
    </ul>
    <p class="govuk-body">
      The Department for Education, Public Health England and NHS England have recorded a 
      <%= govuk_link_to("free webinar for school and college staff", "https://www.youtube.com/watch?v=MYmBLnSQh3M&feature=youtu.be") %>
      which sets out how they can support their pupils and students.
    </p>
  </div>
</div>
