<% page_title = "Special educational needs and disabilities (SEND)"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Vulnerable pupils and students and those with special educational needs and disabilities (SEND)
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% send_update_date = t('send.last_update_date').to_date %>
    <%= render layout: 'summary', locals: { update_date: send_update_date, show_updates: @show_updates, page: 'send', has_content: true } do %>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Whole page updated
      </li>
    </ul>
    <% end %>
    <h2 class="govuk-heading-l">Supporting pupils and young people with special educational needs and disabilities (SEND)</h2>
    <p class="govuk-body">
      The requirement to ensure pupils and students with SEND can access remote education is the same as it is for all other pupils and students in all types of schools and colleges. You can read the
      <%= link_to_govuk_content("statutory obligations and expectations", "/statutory-obligations") %>
      for all pupils and students including those with SEND.
    </p>
    <p class="govuk-body">
      For schools and colleges developing their remote education for pupils and students with SEND, the following support and information is available from third-party resources:
    </p>
    <ul
      class="govuk-list govuk-list--bullet"
    >
      <li>
        <%= link_to_govuk_content("Ofsted has shared insights into how remote education is working for children and young people with SEND during the pandemic", "https://www.gov.uk/government/publications/remote-education-and-send/how-remote-education-is-working-for-children-and-young-people-with-send") %>
      </li>
      <li>
        support to help pupils and students
        <%= govuk_link_to("with accessible technology", "https://www.nationalstar.org/wp-content/uploads/2021/02/Resource-Accessible-Tech-for-Education.pdf") %>
        from National Star College
      </li>
      <li>
        <%= govuk_link_to("SEND support hub", "https://www.nationalstar.org/products-services-facilities/star-technology/accessible-tech/send-support-hub/") %>
        to enable specialist support for pupils and students with additional learning needs through assistive technology
      </li>
    </ul>
    <p class="govuk-body">
      Oak National Academy has produced a
      <%= govuk_link_to("blog", "https://www.thenational.academy/blog/sen-support-accessible-remote-learning-and-making-the-most-of-the-oak-offer") %>
      on accessible remote learning and making the most of the Oak offer. Oak Academy provides
      <%= govuk_link_to("specialist subjects", "https://classroom.thenational.academy/specialist") %>
      for pupils with additional needs and
      <%= govuk_link_to("lessons", "https://classroom.thenational.academy/specialist/therapies") %>
      to support occupational therapy, physical therapy, speech and language therapy and sensory integration.
    </p>
    <h2 class="govuk-heading-l">Supporting vulnerable children, including children with a social worker</h2>
    <p class="govuk-body">
      Where vulnerable pupils are self-isolating, it is important that systems are in place to keep in contact with them.
    </p>
    <p class="govuk-body">
      When a vulnerable pupil is required to self-isolate, you should:
    </p>
    <ul
      class="govuk-list govuk-list--bullet"
    >
      <li>notify their social worker (if they have one)</li>
      <li>agree with the social worker the best way to maintain contact and offer support</li>
    </ul>
    <p class="govuk-body">
      You should have procedures in place to: 
    </p>
    <ul
      class="govuk-list govuk-list--bullet"
    >
      <li>check if a vulnerable pupil is able to access remote education support </li>
      <li>support them to access remote education (as far as possible) </li>
      <li>regularly check if they are accessing remote education </li>
    </ul>

    <h2 class="govuk-heading-l">Get devices for those who cannot attend school</h2>
    <p class="govuk-body">
      If a child or young person without access to a device is advised not to attend school by a GP or specialist clinician, their school should contact the Department for Education (DfE) for support. You can read further guidance on
      <%= link_to_govuk_content("getting laptops and tablets for those who cannot attend school", "https://www.gov.uk/guidance/get-laptops-and-tablets-for-children-who-cannot-attend-school-due-to-coronavirus-covid-19") %>.
    </p>

    <h2 class="govuk-heading-l">Support for low-income families</h2>
    <p class="govuk-body">
      Further support for low-income families with disabled and critically ill children, including helping to buy specialist equipment, has been made available through the Family Fund. You can read further
      <%= govuk_link_to("guidance on how to apply for the Family Fund", "https://www.familyfund.org.uk/") %>.
    </p>

    <h2 class="govuk-heading-l">Safeguarding and working with other agencies</h2>
    <p class="govuk-body">
      Keeping pupils, students and teachers safe during remote education is essential. DfE has published guidance on
      <%= link_to_govuk_content("Safeguarding and remote education during coronavirus (COVID-19)", "https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19") %>.
      This guidance details how to follow safeguarding procedures when planning remote education strategies and teaching remotely during the coronavirus outbreak.
    </p>
    <p class="govuk-body">
      The guidance covers
    </p>
    <ul
      class="govuk-list govuk-list--bullet"
    >
      <li>Safeguarding pupils and teachers online</li>
      <li>Reporting concerns</li>
      <li>Online safety advice for parents and carers</li>
      <li>Virtual lessons and live streaming</li>
      <li>Providing pastoral care remotely</li>
      <li>Personal data and GDPR</li>
    </ul>
    <p class="govuk-body">
      DfE revised Keeping Children Safe in Education, which came into force on 1 September 2020, and it now includes additional information and 
      support to help schools and colleges keep children and young people safe online. It includes for the first time a dedicated collection of 
      resources (at Annex C) to support safe remote education, virtual lessons and live streaming. It also includes support for schools and colleges 
      to signpost parents and carers to help them keep their children safe online.
    </p>
  </div>
</div>
