<% page_title = "Statutory obligations and expectations"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Statutory obligations and expectations
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Information for schools and further education (FE) colleges on expectations and how to comply with their legal responsibilities
      when pupils and students cannot come into school or college due to coronavirus (COVID-19).
    </p>
    <% main_title_paragraph_update_date = t('statutory_obligations.main_title_paragraph.last_update').to_date %>
    <%= render layout: 'summary', locals: { update_date: main_title_paragraph_update_date, show_updates: @show_updates, page: 'statutory-obligations', has_content: false } do %>
    <% end %>
    <p 
      class="govuk-body updated-content <%= 'active' if @show_updates %>"
      data-updated
      data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
    >
      From 5 January 2021, all schools and colleges are required to close to most pupils and students. Whilst vulnerable pupils and
      students, and the children of key workers, can continue to be educated in person, DfE expects schools and colleges to immediately
      offer all other pupils and students access to remote education. Read the updated remote education expectations for
      <a href="#schools" class="govuk-link">schools</a> and for <a href="#further-education" class="govuk-link">further education</a>.
    </p>
    <h2 id="schools" class="govuk-heading-l">
      Schools
    </h2>
    <h3 class="govuk-heading-m">
      Remote education expectations and duties
    </h3>
    <p 
      class="govuk-body updated-content <%= 'active' if @show_updates %>"
      data-updated
      data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
    >
      The remote education expectations are set out within the guidance on 
      <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/950510/School_national_restrictions_guidance.pdf" class="govuk-link">restricting attendance during the national lockdown</a>.
    </p>
    <p class="govuk-body">
      The Secretary of State for Education has given a temporary continuity direction which requires schools to provide remote education for state-funded, school-age children unable
      to attend school due to coronavirus (COVID-19). Read the
      <%= link_to_govuk_content("remote education temporary continuity direction explanatory note", "https://www.gov.uk/government/publications/remote-education-temporary-continuity-direction-explanatory-note") %>
      for more information. The direction poses no additional expectations on the quality of remote education expected of schools beyond those set out in the guidance on restricting attendance during the national
      lockdown.
    </p>
    <h3 class="govuk-heading-m">
      Recording in the attendance register
    </h3>
    <p class="govuk-body">
      Schools must continue to complete the attendance register for pupils who are receiving remote education.
    </p>
    <p class="govuk-body">
      Read the addendum on
      <%= link_to_govuk_content("recording attendance in relation to coronavirus (COVID-19)", "https://www.gov.uk/government/publications/school-attendance/addendum-recording-attendance-in-relation-to-coronavirus-covid-19-during-the-2020-to-2021-academic-year") %>
      for further information. Where there is a different reason for absence, read the
      <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/907535/School_attendance_guidance_for_2020_to_2021_academic_year.pdf">school attendance guidance.</a>
    </p>
    <p class="govuk-body">
      Schools should keep a record of, and monitor pupils’ and students’ engagement with remote education, but this does not need to be tracked in the attendance register.
    </p>
    <h2 id="further-education" class="govuk-heading-l">
      Further education
    </h2>
    <h3 class="govuk-heading-m">
      Expectations for further education
    </h3>
    <p 
      class="govuk-body updated-content <%= 'active' if @show_updates %>"
      data-updated
      data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
    >
      Read the 
      <a 
        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/950735/January_2021_FE_operational_guidance_FINAL.pdf"
        class="govuk-link"
      >
        further education guidance for restricting attendance during the national lockdown</a
      >.
    </p>
    <p 
      class="govuk-body updated-content <%= 'active' if @show_updates %>"
      data-updated
      data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
    >
      As a result of the national closure of FE colleges to most students, remote provision should be extended to meet students’ needs. 
    </p>
  </div>
</div>
