<% page_title = "Support for education recovery"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Support for education recovery
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% support_update_date = t('support_recovery.last_update_date').to_date %>
    <%= render layout: 'summary', locals: { update_date: support_update_date, show_updates: @show_updates, page: 'good-teaching-practice', has_content: true } do %>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Whole page updated
        </li>
      </ul>
    <% end %>
    <p class="govuk-body">
      We know that extended school and college restrictions on attendance have had a substantial impact on children and young people’s education.
    </p>
    <p class="govuk-body">
      We have produced
      <%= link_to_govuk_content("information for early years settings, schools and providers of 16-19 education", "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/993053/Education_recovery_support_June-2021.pdf") %>
      about the programmes and activities the Department for Education is funding to support education recovery and children’s and young people’s wellbeing.
    </p>
    <p class="govuk-body">
      This includes the recovery package announced in
      <%= link_to_govuk_content("June 2021", "https://www.gov.uk/government/news/huge-expansion-of-tutoring-in-next-step-of-education-recovery") %>
      , as well as those programmes announced in
      <%= link_to_govuk_content("June 2020", "https://www.gov.uk/government/news/billion-pound-covid-catch-up-plan-to-tackle-impact-of-lost-teaching-time") %>
      and in
      <%= link_to_govuk_content("February 2021", "https://www.gov.uk/government/news/new-education-recovery-package-for-children-and-young-people") %>
      .
    </p>
  </div>
</div>
