<% page_title = "Videos, webinars and online events"%>
<%= content_for :page_title, page_title%>
<%= content_for :before_content do %>
  <a href="/" class="govuk-back-link">Back</a>
<% end %>
<h1 class="govuk-heading-xl">
  Videos, webinars and training
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% videos_webinars_update_date = t('videos_webinars.last_update_date').to_date %>
    <%= render layout: 'summary', locals: { update_date: videos_webinars_update_date, show_updates: @show_updates, page: 'videos_webinars', has_content: true } do %>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Cyber security section added
        </li>
      </ul>
    <% end %>
    <p class="govuk-body">
      A collection of video resources and training to help you with your remote learning provision.
    </p>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Safeguarding
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Resources on keeping pupils safe online and using technology to support wellbeing.</p>

          <h3 class="govuk-heading-s">EdTech Demonstrator webinars</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance/safeguarding">keeping pupils safe online</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Good teaching practice and resources
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <h3 class="govuk-heading-s">DfE school-led webinars</h3>

          <p class="govuk-body">The DfE is offering several <a href="https://www.gov.uk/guidance/remote-education-webinars?utm_source=remote_education">school-led webinars</a> on remote education to help share good practice.</p>

          <h3 class="govuk-heading-s">EdTech Demonstrator webinars</h3>

          <p class="govuk-body"><a href="https://edtech-demonstrator.lgfl.net/home">The EdTech Demonstrator programme</a> helps schools and colleges with support for remote education. Their webinars can help improve the quality of remote provision in line with the expectations set out in the <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak?utm_source=remote_education">Schools coronavirus (COVID-19) operational guidance</a>.</p>

          <p class="govuk-body">Webinars include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance/contingency">contingency planning guidance</a></li>
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance/getting-started">setting up a virtual classroom</a></li>
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance">using platforms such as Google Workspace (formerly G Suite) or Microsoft Office 365</a></li>
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance/strategy">embedding technology across your organisation and introducing a digital strategy</a></li>
          </ul>

          <p class="govuk-body">See all of EdTech's <a href="https://edtech-demonstrator.lgfl.net/support-and-resources/upcoming-events">upcoming events</a> on their website.</p>

          <h3 class="govuk-heading-s">Get help with remote education and catch-up provision</h3>
          <p class="govuk-body">On Wednesday 27 January a sector-led online event took place which provided the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>examples of the best approaches to remote education</li>
            <li>advice on delivering the curriculum virtually, featuring Oak National Academy, the EdTech Demonstrator Network, Microsoft and Google</li>
            <li>top tips on maintaining wellbeing, motivation and keeping pupils safe whilst delivering remote education</li>
          </ul>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Read the full agenda
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">The event was led by a selection of primary and secondary schools, including those who have accessed the DfE’s support package and Oak National Academy. Sessions included:</p>
              <h3 class="govuk-heading-s">Getting the basics right</h3>
              <p class="govuk-body">This session explored:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>recommendations to strengthen your remote education strategy</li>
                <li>long-term sustainable benefits of adopting the DfE's remote education offer</li>
                <li>use of digital platforms</li>
              </ul>
              <h3 class="govuk-heading-s">Delivering the curriculum virtually</h3>
              <p class="govuk-body">This session explored ways to maintain high-quality teaching remotely, including:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>managing the complexity of delivering lessons to pupils in and outside of the classroom simultaneously</li>
                <li>ensuring the curriculum is accessible to all pupils</li>
                <li>ways Oak National Academy can be used interactively</li>
                <li>maintaining high quality teaching in the remote environment</li>
                <li>using technology to support catch-up activities</li>
              </ul>
              <h3 class="govuk-heading-s">Maintaining wellbeing, motivation and keeping pupils safe</h3>
              <p class="govuk-body">This session explored:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>how to ensure pupils remain motivated and able to learn</li>
                <li>supporting school staff, including teacher workload</li>
                <li>securing e-safety</li>
              </ul>
            </div>
          </details>
          <p class="govuk-body">
            If you missed the event you can <%= link_to("access it on demand", "https://youtu.be/vFD3PJCxN1g", class: "govuk-link") %>.
          </p>
          <p class="govuk-body">
            A follow up event was held on 3 February 2021 where a panel responded to questions asked during (and after) the sector-led session on 27 January 2021.  You can <%= link_to("watch this event", "https://youtu.be/csIamuQkPR0", class: "govuk-link") %> if you missed it.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Special educational needs and disabilities (SEND)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">Resources for supporting pupils with special educational needs.</p>

          <h3 class="govuk-heading-s">EdTech Demonstrator webinars</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://edtech-demonstrator.lgfl.net/guidance/special-educational-needs">using technology to support pupils with special education needs (SEND)</a></li>
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2
            class="govuk-accordion__section-heading updated-content  <%= 'active' if @show_updates %>"
            data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
            data-updated
          >
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Cyber security training
            </span>
          </h2>
        </div>
        <div
          id="accordion-default-content-3"
          class="govuk-accordion__section-content updated-content  <%= 'active' if @show_updates %>"
          data-qa="updated-content<%= @show_updates ? '__highlighted' : '' %>"
          data-updated
        >
          <p class="govuk-body">
            The National Cyber Security Centre (NCSC) is offering free training to
            <%= link_to("school staff to improve cyber resilience", "https://www.ncsc.gov.uk/news/school-staff-offered-training-to-help-cyber-defences") %>.
          </p>
          <p class="govuk-body">
            The
            <%= link_to("cyber security training", "https://www.ncsc.gov.uk/information/cyber-security-training-schools") %>
            sets out real-life incident case studies and four practical steps staff can take to protect themselves online.
          </p>

          <h3 class="govuk-heading-s">Ransomware, the risk to schools and ways to prevent it</h3>
          <p class="govuk-body">
            On <strong>Wed 12 May 15:30-16:30</strong> NCSC and the Department for Education are running a session focussing on ransomware,
            following a recent spate of ransomware attacks against the education sector. The session will include:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>an overview of ransomware</li>
            <li>an exploration of how to back-up school data</li>
            <li>advice from the NCSC Incident Management team about managing a ransomware incident</li>
            <li>a high-level panel discussion on cyber resilience in the education sector</li>
          </ul>
          <p class="govuk-body">
            Details are
            <%= link_to("here", "https://www.ncsc.gov.uk/section/cyberuk/overview") %>
            including the
            <%= link_to("YouTube link", "https://www.youtube.com/channel/UCyAPLAtCSeL1s85YMY8ULnw") %>
            for joining the session.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
