<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" data-qa="question-title"><%= t("review_framework.#{@section}.#{@question}.title") %></h1>
    <%
      questions = [
        OpenStruct.new(id: 1, name: '1'),
        OpenStruct.new(id: 2, name: '2'),
        OpenStruct.new(id: 3, name: '3'),
        OpenStruct.new(id: 4, name: '4'),
        OpenStruct.new(id: 5, name: '5')
      ]
    %>
    <%= form_with(method: 'post') do |f| %>
      <%= f.govuk_collection_radio_buttons :score_id, questions, :id, :name, inline: true, small: true, legend: { text: '' } %>
      <%= f.govuk_text_area :notes, label: { text: 'Notes' }, hint: { text: '' }, rows: 9 %>
      <%= f.govuk_submit 'Save and continue' %>
    <% end %>
  </div>
</div>