---
title: "Good teaching practice and resources"
back_link: true
---
<h1 class="govuk-heading-xl">
  Good teaching practice and resources
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Remote education resources, including lessons from Oak National Academy, as well as guidance, lesson plans and webinars on teaching remotely.
    </p>
    <h2 class="govuk-heading-l">Schools</h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            A sector-led
            <a class="govuk-link" href="https://www.gov.uk/government/publications/remote-education-good-practice">
              remote education good practice guide
            </a>
            to support school leaders in developing remote education contingency plans.
          </p>
          <p class="govuk-body">
            Guidance on
            <a class="govuk-link" href="https://www.gov.uk/guidance/adapting-teaching-practice-for-remote-education">
              adapting teaching practice for remote education
            </a>.
          </p>
          <p class="govuk-body">
            The
            <a class="govuk-link" href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">
              Education Endowment Foundation Covid-19 support guide for schools
            </a>
            includes information on how to support effective remote education.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Resources and lesson plans
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Resources from <a class="govuk-link" href="https://www.thenational.academy/">Oak National Academy</a>, created by teachers across England in response to school
            closures and offering around 10,000 lessons across a variety of subjects for reception to year 11.
          </p>
          <p class="govuk-body">
            <a class="govuk-link" href="https://www.gov.uk/government/publications/example-lessons-for-remote-teaching">Example lesson plans</a> shared by schools to help
            teachers adapt their classroom practice for remote education.
          </p>
          <p class="govuk-body">
            Resources from <a class="govuk-link" href="https://hungrylittleminds.campaign.gov.uk/">Hungry Little Minds</a>, including simple and fun activities for
            children (from newborn to age five) that can be shared with parents.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Webinars
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <h4 class="govuk-heading-s">DfE school-led webinars</h4>
          <p class="govuk-body">
            The DfE is offering several <a class="govuk-link" href="https://www.gov.uk/guidance/remote-education-webinars">school-led webinars</a> on remote education
            to help share good practice.
          </p>
          <h4 class="govuk-heading-s">EdTech Demonstrator webinars</h4>
          <p class="govuk-body">
            <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/home">The EdTech Demonstrator programme</a> helps schools and colleges with support for remote
            education. Their webinars can support schools that are looking for help to improve the quality of their remote provision in line with the expectations
            set out in the <a class="govuk-link" href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#res">guidance for full opening</a>.
            Webinars include:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/contingency">contingency planning guidance</a></li>
            <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/getting-started">setting up a virtual classroom</a></li>
            <li>
              <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance">
                using platforms such as Google Workspace (formerly G Suite) or Microsoft Office 365
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/special-educational-needs">
                using technology to support pupils with special education needs (SEND)
              </a>
            </li>
            <li><a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/safeguarding">keeping pupils safe online</a></li>
            <li>
              <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/guidance/strategy">
                embedding technology across your organisation and introducing a digital strategy
              </a>
            </li>
          </ul>
          <p class="govuk-body">
            See all of EdTech's
            <a class="govuk-link" href="https://edtech-demonstrator.lgfl.net/support-and-resources/upcoming-events">upcoming events</a>
            on their website
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Accessing and buying resources for remote education
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
        <p class="govuk-body">
          <a class="govuk-link" href="https://www.gov.uk/guidance/help-with-accessing-and-buying-resources-for-remote-education">Help with accessing and buying resources for remote education</a>.
        </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Future remote education support for schools
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class="govuk-body">
            Schools will soon be able to access a self-assessment framework to help school leaders and governors consider how to strengthen their remote education offer.
          </p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">FE</h2>

    <div class="update-summary">
      <span class="govuk-heading-s update-summary-meta">updated 22nd December</span>
      <a id="show-hide-updates" href="" class="govuk-link govuk-link--no-visited-state" data-qa="updates-hide">
        <span id="update-summary-show-hide-status">show updates</span>
      </a>
      <div id="update-summary-content" class="update-summary-content hidden">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            added new section on the digital curriculum resources available to the FE sector
          </li>
        </ul>
      </div>
    </div>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Guidance
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">
            Guidance on how FE colleges can use the <a class="govuk-link" href="https://www.gov.uk/1619-bursary-fund">16 to 19 Bursary Fund</a> and the
            <a class="govuk-link" href="https://www.gov.uk/guidance/adult-education-budget-aeb-funding-rules-2020-to-2021">adult education budget</a> to
            help students overcome financial barriers to participation in remote education.
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-7">
              Support
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-7" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">
            Support in using educational technology and developing online teaching skills from the <a class="govuk-link" href="https://enhance.etfoundation.co.uk/">Education and Training Foundation</a>
          </p>
        </div>
      </div>
      <div class="govuk-accordion__section updated-content" data-updated>
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-8">
              Resources
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-8" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">
            Digital content and resources are available from organisations funded by DfE, including
            <a class="govuk-link" href="https://www.jisc.ac.uk/learning-and-research-resources">Jisc</a> and
            <a class="govuk-link" href="https://www.worldskillsuk.org/directions/careers-advice-resources">World Skills UK</a>.
          </p>
          <p class="govuk-body">
            DfE has also funded colleges to produce a range of content for the FE sector. The content consists of free, Sharable Content
            Object Reference Model (SCORM) compliant resources  for use across the FE curriculum.
          </p>

          <h4 class="govuk-heading-s">Health, public and social care</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Health and Social Care (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=3',
                    topics: 11
                  },
                  {
                    title: 'Childcare (videos)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=16',
                    topics: 10
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">Science and mathematics</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Numeracy entry level 3 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=13',
                    topics: 30
                  },
                  {
                    title: 'Numeracy level 1 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=14',
                    topics: 30
                  },
                  {
                    title: 'Maths level 1 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=12',
                    topics: 30
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">Agriculture, horticulture, and animal care</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Animal care (videos)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=17',
                    topics: 10
                  },
                  {
                    title: 'Carpentry (videos)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=19',
                    topics: 4
                  },
                  {
                    title: 'Painting and decorating',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=22',
                    topics: 5
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">Business, administration, finance and law</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Business and entrepreneurship (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=2',
                    topics: 22
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">Public services</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Public services level 2 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=8',
                    topics: 30
                  },
                  {
                    title: 'Public services level 3 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=9',
                    topics: 30
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">English and ESOL</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Literacy entry level 3 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=11',
                    topics: 30
                  },
                  {
                    title: 'English level 2 (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=10',
                    topics: 30
                  },
                  {
                    title: 'Spelling, punctuation and grammar (SPAG) level 2, SCORM',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=15',
                    topics: 15
                  },
                  {
                    title: 'English to speakers of other langauges (ESOL) videos',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=20',
                    topics: 3
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">PSHE and wellbeing</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Mental health (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=6',
                    topics: 13
                  }
                ]
              }
            )
          %>

          <h4 class="govuk-heading-s">Skills and employment</h4>
          <%=
            partial(
              'partials/links_with_topics', locals: {
                links: [
                  {
                    title: 'Employability (SCORM)',
                    href: 'https://cff-project.howcollege.ac.uk/course/view.php?id=7',
                    topics: 5
                  }
                ]
              }
            )
          %>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-10">
              Future remote education support for FE
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-10" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class="govuk-body">
            Colleges will soon be able to access case studies on delivering high-quality remote education.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
